#root {  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toolbar {
  margin-bottom: 20px;
}

.btn {
  width: '50px'; 
  height: '50px';
  padding: 0;
}

.btn:nth-child(n + 2) {
  margin-left: 10px;
}

.btn:hover {
  background-color: #818080;
  color: white;
}

.btn:focus {
  background-color: white;
  color: black;
}

.btn:active {
  background-color: white;
  color: black;
}

.item-lists {
  display: flex;  
  flex-wrap: wrap; 
  gap: 10px; 
  width: 1070px;
}

.item-lists.view_list .item {  
  display: flex;  
  flex-wrap: wrap; 
} 

.item {
  flex: 1 1 350px; /* Элементы занимают равное пространство, минимальная ширина 350px */  
  max-width: 350px; 
  height: 350px; 
  overflow: hidden; 
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.item-img {  
  width: 100%;  
  height: 200px;  
  object-fit: contain; 
  display: block; 
}

.item-name {
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
}

.item-color {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.item-price-btn {
  display: flex;  
  font-size: 16px;
  margin-top: 65%;
  justify-content: space-around;
}

.item-price {
  color: red;
  margin-top: auto;
  margin-bottom: auto;
}

.item-btn-atc {  
  color: red;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid;
  border-radius: 15px;
}


 

.item-lists.view_module .item { 
  display: flex;  
  flex-wrap: nowrap; 
  flex-direction: column;
} 