#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toolbar {
  margin-bottom: 20px;
}

.btn:nth-child(n + 2) {
  margin-left: 10px;
}

.btn:hover {
  background-color: #818080;
  color: white;
}

.btn:focus {
  background-color: black;
  color: white;
}

.btn:active {
  background-color: white;
  color: black;
}

.item-lists {
  display: block;  
}

.item-lists:nth-child(n + 2) {
  margin-left: 10px;
}